
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="ScoreSheets" asp-action="Import" enctype="multipart/form-data" method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
               <input type="file"name="file" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>